<div id="container">
  <div class="quiz-settings">
    <mat-form-field>
      <mat-label>Time limit</mat-label>
      <mat-select>
        <mat-option value="one">5 seconds</mat-option>
        <mat-option value="two">10 seconds</mat-option>
        <mat-option value="one">15 seconds</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Points</mat-label>
      <mat-select>
        <mat-option value="one">Standard</mat-option>
        <mat-option value="two">Double points</mat-option>
        <mat-option value="two">No points</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="footer">
    <button mat-button>Delete</button>
    <button mat-stroked-button>Duplicate</button>
  </div>
</div>
