<div id="container">
  <div class="quiz-settings">
      <mat-form-field>
        <mat-label>Question type</mat-label>
        <mat-select>
          <mat-option value="one">Quiz</mat-option>
          <mat-option value="two">True or false</mat-option>
          <mat-option value="two">Type answer</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Time limit</mat-label>
        <mat-select>
          <mat-option value="one">5 seconds</mat-option>
          <mat-option value="two">10 seconds</mat-option>
          <mat-option value="one">20 seconds</mat-option>
          <mat-option value="two">30 seconds</mat-option>
          <mat-option value="one">1 minute</mat-option>
          <mat-option value="two">1 minute 30 seconds</mat-option>
          <mat-option value="one">2 minutes</mat-option>
          <mat-option value="two">3 minutes</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Points</mat-label>
        <mat-select>
          <mat-option value="one">Standard</mat-option>
          <mat-option value="two">Double points</mat-option>
          <mat-option value="two">No points</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Answer options</mat-label>
        <mat-select>
          <mat-option value="one">Single select</mat-option>
          <mat-option value="two">Multi-select</mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <div class="footer">
    <button mat-button>Delete</button>
    <button mat-stroked-button>Duplicate</button>
  </div>
</div>
