h1 {
  font-size: 28px;
  line-height: 28px;
  //margin-top: 12px;
}

.loading {
  position: relative;
  z-index: 9999;
}

.dialog-content {
  display: flex;
  align-items: start;

  .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      margin-bottom: 14px;
      display: flex;
      flex-direction: column;
      position: relative;

      input {
        width: 90%;
        font-size: 16px;
        margin-top: 5px;
        padding: 8px 8px 8px 8px; /* Điều chỉnh padding */
        border: 1px solid #ccc;
        outline: none;
        border-radius: 4px;
        box-sizing: border-box;

        /* Thêm không gian cho char-count */
        padding-right: 40px; /* Khoảng trống bên phải cho char-count */
      }

      .char-count {
        width: 88%;
        align-items: flex-end;
        font-size: 14px;
        font-weight: 500;
        color: var(--md-sys-color-outline);
        justify-content: flex-end;
        margin-top: -28px;
        margin-left: 85%;
      }
    }

    .description {
      margin-bottom: 12px;
      display: flex;
      flex-direction: column;

      textarea {
        width: 90%;
        height: 150px;
        font-size: 16px;
        margin-top: 5px;
        padding: 8px 8px 8px 8px; /* Điều chỉnh padding */
        border: 1px solid #ccc;
        outline: none;
        border-radius: 4px;
        resize: none;

        /* Thêm không gian cho char-count-ds */
        padding-bottom: 40px; /* Khoảng trống bên dưới cho char-count-ds */
      }

      .char-count-ds {
        width: 88%;
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        font-weight: 500;
        color: var(--md-sys-color-outline);
        bottom: 10px;
        justify-content: flex-end;
        margin-top: -4%;
      }
    }
  }

  .right {
    width: 40%;

    .visibility {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
    }

    .title-img {
      display: block;
      margin-bottom: 5px;
    }

    .image-input {
      width: 100%;
      height: 230px;
      border: 1px solid #ccc;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      input {
        position: absolute;

        &[type="file"] {
          display: none;
        }
      }
    }

    .label-upload {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      flex-direction: column;
      background: rgba(250, 250, 250, 0.7);
      -webkit-backdrop-filter: blur(12px);
      border-radius: 0.25rem;

      .media-library {
        display: flex;
        background-image: url("../../../../../../assets/images/media-6GHnspiQ.svg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 186px;
        height: 74px;
        filter: brightness(0.5);
        margin-block-end: 8px;
      }
    }

    .add-media-btn {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 500;
    }

    .img-container {
      width: 100%;
      height: 100%;
      background: rgba(250, 250, 250, 0.7);
      -webkit-backdrop-filter: blur(12px);
      border-radius: 0.25rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 4px;
      }
    }

    .remove-btn {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}

.dialog-footer {
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    margin: 0 16px;
  }
}

@media screen and (max-width: 1290px) {
  .dialog-content {
    flex-direction: row; /* Giữ hướng là hàng */

    .left {
      width: 55%;
      margin-bottom: 0;

      .title {
        input {
          width: 95%;
        }

        .char-count {
          width: 92%;
          margin-top: -25px;
        }
      }

      .description {
        textarea {
          width: 95%;
        }

        .char-count-ds {
          width: 92%;
          margin-top: -25px;
        }
      }
    }

    .right {
      width: 45%;
    }
  }
}



@media screen and (max-width: 768px) {
  .dialog-content {
    flex-direction: column; /* Thay đổi hướng thành cột */

    .left {
      width: 100%; /* Đặt chiều rộng thành 100% */

      .title {
        input {
          width: 100%; /* Đảm bảo input chiếm 100% chiều rộng */
          padding-right: 40px; /* Giữ khoảng trống cho char-count */
        }

        .char-count {
          width: 95%;
          margin-top: -28px;
        }
      }

      .description {
        textarea {
          width: 100%; /* Đảm bảo textarea chiếm 100% chiều rộng */
          padding-bottom: 40px; /* Giữ khoảng trống cho char-count-ds */
        }

        .char-count-ds {
          width: 95%;
          margin-top: -28px;
        }
      }
    }

    .right {
      width: 100%; /* Đặt chiều rộng thành 100% */
      margin-top: 20px; /* Thêm khoảng cách trên nếu cần */
    }
  }
}
