.loading-container {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Apply a filter to the background */
}

.container {
  width: 100%;
  height: 100%;


  .library-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 20px;

    .empty-box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 300px;
        height: 300px;
      }
    }

    .library-scroll {
      width: 60%;
      height: 100%;

      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }

      .quiz-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    .quiz-detail {
      width: 100%;
      display: flex;

      &__info {
        width: calc(100% - 140px);
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: start;

        .row-info {
          .question {
            white-space: pre-wrap;
            word-wrap: break-word;
            font-size: 18px;
            font-weight: 600;
          }

          .row-info {
            display: flex;
            align-items: center;
            gap: 15px;

            .num-questions {
              display: flex;
              align-items: center;
              gap: 5px;
            }

            .category {
              display: flex;
              align-items: center;
              gap: 5px;

              img {
                width: 24px;
                height: 24px;
                object-fit: cover;
              }
            }
          }

          .row-creator {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            margin-top: 10px;

            img {
              width: 24px;
              height: 24px;
              object-fit: cover;
              border-radius: 50%;
            }
          }
        }
      }

      &__img {
        width: 140px;
        height: auto;

        img {
          width: 140px;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }

    .content-container {
      width: 40%;
      height: 100%;
      margin-left: 10px;

      .quiz-scroll {
        width: 100%;
        height: calc(100% - 50px);

        &::-webkit-scrollbar {
          display: none; /* Safari and Chrome */
        }

        .quiz-content {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
    }
  }
}

.quiz-detail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;

  .number-question {
    font-size: 16px;
    font-weight: 700;
    color: var(--md-sys-color-on-surface);
  }

  .btn-show {
    font-size: 16px;
    font-weight: 700;
    color: var(--md-sys-color-on-surface);
    cursor: pointer;
    text-decoration: underline;
  }
}

mat-card {
  cursor: pointer;
}

mat-card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  filter: brightness(0.9);
}

.quiz-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;

  &__title {
    .question {
      white-space: pre-wrap;
      word-wrap: break-word;
      font-size: 16px;
      font-weight: 600;
    }

    .order {
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__img {
    width: 140px;
    height: auto;

    img {
      width: 140px;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}

.mdc-list-item.mdc-list-item--with-one-line.content {
  height: auto;
}

.answer-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__content {
    font-size: 14px;
    font-weight: 500;
  }

  p {
    margin: 0;
  }
}

.answer-icon__wrong {
  color: var(--md-sys-color-error);
}

.answer-icon__correct {
  color: var(--md-sys-color-primary-container);
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}

.mat-mdc-card-content:first-child {
  padding-top: 0;
}

.mat-mdc-card-content {
  padding: 0 4px;
}

@media screen and (max-width: 1024px) {
  .container {
    .category-info-container {
      height: 250px;
    }

    .library-container {
      width: 100%;
      height: calc(100% - 270px);

      .library-scroll {
        width: 100%;
        height: 100%;

        .quiz-list {
          width: 100%;
        }
      }

      .content-container {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .quiz-detail {
    &__img {
      width: 100px;

      img {
        width: 100px;
      }
    }
  }
}
