.container {
  width: 100%;
  height: 150px;
  background-color: var(--md-sys-color-background);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 50%;

  .profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 20px;
    gap: 15px;

    .name {
      font-size: 24px;
      color: var(--md-sys-color-on-surface);
      font-weight: 600;
    }

    .mail {
      font-size: 16px;
      color: var(--md-sys-color-on-surface-variant);
      font-weight: 600;
    }

    .gender {
      font-size: 16px;
      color: var(--md-sys-color-on-surface-variant);
      font-weight: 600;
    }
  }
}

.profile-stats {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 100px;

  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .stat-number {
      font-size: 24px;
      color: var(--md-sys-color-on-surface);
      font-weight: 600;
    }

    .stat-label {
      font-size: 14px;
      color: var(--md-sys-color-on-surface-variant);
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 25px;
  }

  .profile-header {
    width: 100%;

    .profile-picture{
      width: 110px;
      height: 105px;
    }
  }

  .profile-stats {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;

    .stat {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .stat-number {
        font-size: 20px;
      }

      .stat-label {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 450px){
  .container {
    padding: 0 25px;
  }

  .profile-header {
    .profile-picture {
      width: 90px;
      height: 85px;
    }

    .profile-info {
      gap: 10px;

      .name {
        font-size: 20px;
      }

      .mail {
        font-size: 14px;
      }
    }
  }
}

@media  screen and (max-width: 380px) {
  .container {
    padding: 0 25px;
  }
  .profile-header {
    .profile-picture {
      width: 80px;
      height: 75px;
    }

    .profile-info {
      gap: 5px;

      .name {
        font-size: 18px;
      }

      .mail {
        font-size: 12px;
      }
    }
  }

}



