<mat-toolbar class="header">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    [routerLink]="['/home']"
  >
    <mat-icon>navigate_before</mat-icon>
  </button>
  <input
    (click)="openDialog()"
    class="title"
    type="text"
    [placeholder]="title"
  />
  <span class="example-spacer"></span>

  @if (isEdit) {
    <div class="top-right-btn">
      <button mat-fab extended class="save-btn" (click)="saveQuiz()">
        <mat-icon>save</mat-icon>
        Save
      </button>
      <!--      <input type="file" (change)="readExcel($event)" />-->
    </div>
  } @else {
    <div class="top-right-btn">
      <button mat-fab extended class="save-btn" (click)="addQuiz()">
        <mat-icon>save</mat-icon>
        Save
      </button>
      @if (isEmptyInput) {
        <div class="empty-input">
          <p class="text">Please enter information!</p>
        </div>
      }

      <!--      <button mat-fab extended class="save-btn" (change)="ReadExcel()">-->
      <!--        <mat-icon>add</mat-icon>-->
      <!--        Import-->
      <!--      </button>-->
      <!--      <input type="file" (change)="readExcel($event)" />-->
    </div>
  }
</mat-toolbar>
