#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("../../../../../../assets/images/result-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .confetti {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    position: absolute;
    z-index: 9998;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .header {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn-home {
      position: absolute;
      top: 16px;
      right: 16px;
      display: flex;
      cursor: pointer;
      z-index: 9999;
    }

    .logo {
      width: 350px;
      position: relative;
      z-index: 999;
    }

    .title {
      font-size: 2rem;
      line-height: 2.5rem;
      font-weight: bold;
      margin-top: 24px;
      padding: 8px 12px;
      background-color: var(--md-sys-color-surface-container-lowest);
      border-radius: 4px;
    }
  }

  .content {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    .first-place,
    .second-place,
    .third-place {
      display: flex;
      flex-direction: column;
      //justify-content: center;
      align-items: center;

      .name {
        font-size: 1.3rem;
        font-weight: bold;
        padding: 8px;
        margin: 12px 0;
        border-radius: 4px;
        background-color: var(--md-sys-color-surface-container-lowest);
        position: absolute;
      }
    }

    .first-place {
      order: 2;
      height: 100%;

      .first-place-name {
        bottom: 100%;
        animation:
          ease-in 13s hidden,
          ease-in 1s top3 13s,
          shake 1s ease infinite 15s;
        z-index: 1000;
      }

      .result {
        order: 2;
        height: 100%;
        z-index: 999;
        background-image: url("../../../../../../assets/images/rainbow.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .second-place {
      order: 1;
      height: 80%;

      .second-place-name {
        bottom: 80%;
        animation:
          ease-in 7s hidden,
          ease-in 1s top3 7s,
          shake 1s ease infinite 9s;
      }

      .result {
        order: 1;
        height: 100%;
        background-image: url("../../../../../../assets/images/pink.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .third-place {
      order: 3;
      height: 60%;

      .third-place-name {
        bottom: 60%;
        animation:
          ease-in 3s hidden,
          ease-in 1s top3 3s,
          shake 1s ease infinite 5s;
      }

      .result {
        order: 3;
        height: 100%;
        background-image: url("../../../../../../assets/images/purple.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .result {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 200px;
      color: var(--md-sys-color-inverse-on-surface);
      //background-color: rgba(0, 108, 88, 1);
      border-radius: 8px 8px 0 0;
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.8);

      iframe {
        width: 140px;
        height: 140px;
        border: none;
        outline: none;
        opacity: 0.8;
      }

      .rank {
        height: 75px;
        margin: 32px 0;
        position: absolute;
      }

      .score {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}

@keyframes top3 {
  0% {
    opacity: 0;
    scale: 0;
  }

  75% {
    opacity: 0;
    scale: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes hidden {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-20deg) translateX(-10px);
  }

  75% {
    transform: rotate(20deg) translateX(10px);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media screen and (min-height: 700px) {
  #container {
    .content {
      height: 50%;
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    .result {
      width: 175px !important;
    }
  }
}

@media screen and (max-width: 576px) {
  #container {
    .header {
      .logo {
        width: 250px;
      }

      .title {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    .content {
      .first-place,
      .second-place,
      .third-place {
        width: 30%;

        .name {
          font-size: 1rem;
        }
      }

      .result {
        width: 100% !important;

        .rank {
          width: 80px;
          height: 80px;
        }

        .score {
          font-size: 1rem;
        }
      }
    }
  }
}
