.container {
  width: 100%;
  height: 100vh;
  background-image: url('../../../../assets/images/z5714813450402_17d12c1680cfb5a3fede63bf191ee94c.jpg');
  background-size: cover;
  background-position: center;
}
