.container {
  width: 100%;
  height: 100vh;
  background-image: url("https://assets-cdn.kahoot.it/challenge/assets/teach_stud_default-4bpdEb_b.jpg?auto=webp&width=1200&crop=3%3A2");
  background-size: cover;
  background-position: center;
}
