.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  background-color: var(--md-sys-color-surface-container);
  border-radius: 28px;
  padding: 2px 8px;
  margin: 0 auto; /* Center the search container */
}

.search-container input {
  flex: 1;
  border: none;
  outline: none;
  background-color: unset;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
}

.action {
  margin-right: 10px;
}




