.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  .menu-icon {
    display: none;
  }

  .search-icon-response {
    display: none;
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    background-color: var(--md-sys-color-surface-container);
    border-radius: 28px;
    padding: 2px 12px;
    margin: 0 auto; /* Center the search container */

    input {
      flex: 1;
      border: none;
      outline: none;
      background-color: unset;
      padding: 10px;
      border-radius: 20px;
      font-size: 14px;
    }
  }

  .action {
    .btn-login.mat-mdc-unelevated-button:not(:disabled) {
      margin-right: 10px;
      background-color: var(--md-sys-color-primary-container);
      color: var(--md-sys-color-on-primary-container);
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .search-container {
      width: 50%;

      input {
        width: 80%;
      }
    }

    .action {
    }
  }
}

@media screen and (max-width: 576px) {
  .container {
    .search-container {
      display: none;
    }

    .search-icon-response {
      display: block;
      cursor: pointer;
    }
  }
}
