<div id="container">
  <div class="question-input">
      <textarea
        placeholder="Start typing your question"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3"
        [(ngModel)]="questionInput"
        (input)="updateCharCountQuestion()"
        maxlength="120">
      </textarea>
    <span class="char-count">{{ charCountQuestion }}</span>
  </div>

  <div class="image-input">
  <input type="file" (change)="selectImage($event)">
  <img [src]="selectedImage || 'assets/images/background-game.png'" alt="">
  </div>

  <div class="answers">
    <div class="answer red" [ngClass]="{active: answerInput1}">
      <div class="answer-color red">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="play_arrow"></mat-icon>
      </div>
      <textarea
        placeholder="Add answer 1"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3"
        [(ngModel)]="answerInput1"
        (input)="updateCharCountAnswer(1)"
        maxlength="75">
      </textarea>
      <span class="char-count-ans">{{ charCountAnswer1 }}</span>

    </div>

    <div class="answer blue" [ngClass]="{active: answerInput2}">
      <div class="answer-color blue">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="square"></mat-icon>
      </div>
      <textarea
        placeholder="Add answer 2"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3"
        [(ngModel)]="answerInput2"
        (input)="updateCharCountAnswer(2)"
        maxlength="75">
      </textarea>
      <span class="char-count-ans">{{ charCountAnswer2 }}</span>

    </div>

    <div class="answer yellow" [ngClass]="{active: answerInput3}">
      <div class="answer-color yellow">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="circle"></mat-icon>
      </div>
      <textarea
        placeholder="Add answer 3"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3"
        [(ngModel)]="answerInput3"
        (input)="updateCharCountAnswer(3)"
        maxlength="75">
      </textarea>
      <span class="char-count-ans">{{ charCountAnswer3 }}</span>

    </div>

    <div class="answer green" [ngClass]="{active: answerInput4}">
      <div class="answer-color green">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="square"></mat-icon>
      </div>
      <textarea
        placeholder="Add answer 4"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3"
        [(ngModel)]="answerInput4"
        (input)="updateCharCountAnswer(4)"
        maxlength="75">
      </textarea>
      <span class="char-count-ans">{{ charCountAnswer4 }}</span>

    </div>
  </div>
</div>
