@media screen and (max-width: 992px) {
  #container .answer-color {
    width: 45px !important;
  }
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-image: url('../../../../../../assets/images/background-game.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#container .question-input {
  width: 85%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 18px;
  padding: 0 10px;
  text-align: center;
}

#container .question-input::placeholder {
  text-align: center;
}

#container img {
  height: 40%;
  box-shadow: #5A514C 0 0 6px 0;
}

#container .answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 30%;
}

#container .answers .answer {
  display: flex;
  align-items: center;
  width: 46%;
  height: 40%;
  background-color: #fff;
  border-radius: 4px;
}

#container .answers .answer .answer-input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 10px;
}

#container .answer-color {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: calc(100% - 12px);
  border-radius: 4px;
  margin: 6px;
}

#container .answer-color mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--md-sys-color-surface-container-low);
}

.answer-color.red {
  background-color: #D03542;
}

.answer-color.red mat-icon {
  rotate: -90deg;
  font-size: 30px;
}

.answer-color.blue {
  background-color: #3066C7;
}

.answer-color.blue mat-icon {
  rotate: 45deg;
  font-size: 18px;
}

.answer-color.yellow {
  background-color: #CFA035;
}

.answer-color.yellow mat-icon{
  font-size: 20px;
}

.answer-color.green {
  background-color: #468729;
}

.answer-color.green mat-icon{
  font-size: 20px;
}
