<div id="container">
  <div class="question-input">
    <textarea
      placeholder="Start typing your question"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="3"
      [(ngModel)]="question.question"

      (input)="questionChangeEvent.next({type:'question',data:question.question})"
      maxlength="120"
    >
    </textarea>
    <span class="char-count">{{ charCountQuestion }}</span>
  </div>

  <div class="image-input">
    @if (!selectedImage) {
      <input id="uploadBtn" type="file" (change)="selectImage($event)"/>
      <label for="uploadBtn">
        <div class="media-library">
        </div>
        <button mat-fab (click)="triggerFileInput($event)">
          <mat-icon>add</mat-icon>
        </button>
        <span class="add-media-btn">Find and insert media</span>
      </label>
    }
    @if (selectedImage) {
      <div class="img-container">
        <img [src]="selectedImage" alt=""/>
      </div>
      <button mat-fab class="remove-btn" (click)="removeImage()">
        <mat-icon>delete</mat-icon>
      </button>
    }
  </div>

  <div class="answers">
    <div class="answer red" [ngClass]="{ active: question.option1 }">
      <div class="answer-color red">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="play_arrow"
        ></mat-icon>
      </div>
      <textarea
        placeholder="Add answer 1"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3"
        [(ngModel)]="question.option1"
        (input)="updateCharCountAnswer(1)"
        maxlength="75"
      >
      </textarea>
      <span class="char-count-ans">{{ charCountAnswer1 }}</span>
      <div class="circle effect">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="check_small"></mat-icon>
      </div>
    </div>

    <div class="answer blue" [ngClass]="{ active: question.option2 }">
      <div class="answer-color blue">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="square"
        ></mat-icon>
      </div>
      <textarea
        placeholder="Add answer 2"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3"
        [(ngModel)]="question.option2"
        (input)="updateCharCountAnswer(2)"
        maxlength="75"
      >
      </textarea>
      <span class="char-count-ans">{{ charCountAnswer2 }}</span>
      <div class="circle">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="check_small"></mat-icon> -->
      </div>
    </div>

    <div class="answer yellow" [ngClass]="{ active: question.option3 }">
      <div class="answer-color yellow">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="circle"
        ></mat-icon>
      </div>
      <textarea
        placeholder="Add answer 3"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3"
        [(ngModel)]="question.option3"
        (input)="updateCharCountAnswer(3)"
        maxlength="75"
      >
      </textarea>
      <span class="char-count-ans">{{ charCountAnswer3 }}</span>
      <div class="circle">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="check_small"></mat-icon> -->
      </div>
    </div>

    <div class="answer green" [ngClass]="{ active: question.option4 }">
      <div class="answer-color green">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="square"
        ></mat-icon>
      </div>
      <textarea
        placeholder="Add answer 4"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3"
        [(ngModel)]="question.option4"
        (input)="updateCharCountAnswer(4)"
        maxlength="75"
      >
      </textarea>
      <span class="char-count-ans">{{ charCountAnswer4 }}</span>
      <div class="circle">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="check_small"></mat-icon> -->
      </div>
    </div>
  </div>
</div>


