<div id="container">
  <div class="question-input-container">
    <div class="noti">
      <div class="noti-content">Question is empty</div>
      <div class="noti-arrow"></div>
    </div>
    <div class="question-input">
      <textarea
        placeholder="Start typing your question"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3"
        [(ngModel)]="question.question"
        (input)="
          changeEvent.next({ type: 'question', data: question.question })
        "
        maxlength="120"
      >
      </textarea>
      <span class="char-count">{{ charCountQuestion }}</span>
    </div>

    <button
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
      class="menu-button"
      (click)="openDialog()"
    >
      <mat-icon class="menu-icon">more_vert</mat-icon>
    </button>
  </div>

  <div class="image-input">
    @if (question.imgUrl == undefined || question.imgUrl === "") {
      <input id="uploadBtn" type="file" (change)="selectImage($event)" />
      <label for="uploadBtn">
        <div class="media-library"></div>
        <button mat-fab (click)="triggerFileInput($event)">
          <mat-icon>add</mat-icon>
        </button>
        <span class="add-media-btn">Find and insert media</span>
      </label>
    } @else {
      <div class="img-container">
        <img [src]="question.imgUrl" alt="" />
      </div>
      <button mat-fab class="remove-btn" (click)="removeImage()">
        <mat-icon>delete</mat-icon>
      </button>
    }
  </div>

  <div class="answers">
    <div
      class="answer"
      [ngClass]="{
        red: question.option1 != undefined && question.option1 !== '',
      }"
    >
      <div class="noti">
        <div class="noti-content">Question is empty</div>
        <div class="noti-arrow"></div>
      </div>
      <div class="answer-color red">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="play_arrow"
        ></mat-icon>
      </div>
      <textarea
        placeholder="Add answer 1"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3"
        [(ngModel)]="question.option1"
        (input)="changeEvent.next({ type: 'option1', data: question.option1 })"
        maxlength="75"
      >
      </textarea>
      <span class="char-count-ans">{{ charCountAnswer1 }}</span>
      <div
        class="circle"
        (click)="isAnswer1Correct()"
        [ngClass]="{ effect: isCheckAnswer1 }"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="check_small"
        ></mat-icon>
      </div>
    </div>

    <div
      class="answer"
      [ngClass]="{
        blue: question.option2 != undefined && question.option2 !== '',
      }"
    >
      <div class="noti">
        <div class="noti-content">Question is empty</div>
        <div class="noti-arrow"></div>
      </div>
      <div class="answer-color blue">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="square"
        ></mat-icon>
      </div>
      <textarea
        placeholder="Add answer 2"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3"
        [(ngModel)]="question.option2"
        (input)="changeEvent.next({ type: 'option2', data: question.option2 })"
        maxlength="75"
      >
      </textarea>
      <span class="char-count-ans">{{ charCountAnswer2 }}</span>
      <div
        class="circle"
        (click)="isAnswer2Correct()"
        [ngClass]="{ effect: isCheckAnswer2 }"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="check_small"
        ></mat-icon>
      </div>
    </div>

    <div
      class="answer"
      [ngClass]="{
        yellow: question.option3 != undefined && question.option3 !== '',
      }"
    >
      <div class="noti">
        <div class="noti-content">Question is empty</div>
        <div class="noti-arrow"></div>
      </div>
      <div class="answer-color yellow">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="circle"
        ></mat-icon>
      </div>
      <textarea
        placeholder="Add answer 3"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3"
        [(ngModel)]="question.option3"
        (input)="changeEvent.next({ type: 'option3', data: question.option3 })"
        maxlength="75"
      >
      </textarea>
      <span class="char-count-ans">{{ charCountAnswer3 }}</span>
      <div
        class="circle"
        (click)="isAnswer3Correct()"
        [ngClass]="{ effect: isCheckAnswer3 }"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="check_small"
        ></mat-icon>
      </div>
    </div>

    <div
      class="answer"
      [ngClass]="{
        green: question.option4 != undefined && question.option4 !== '',
      }"
    >
      <div class="noti">
        <div class="noti-content">Question is empty</div>
        <div class="noti-arrow"></div>
      </div>
      <div class="answer-color green">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="square"
        ></mat-icon>
      </div>
      <textarea
        placeholder="Add answer 4"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3"
        [(ngModel)]="question.option4"
        (input)="changeEvent.next({ type: 'option4', data: question.option4 })"
        maxlength="75"
      >
      </textarea>
      <span class="char-count-ans">{{ charCountAnswer4 }}</span>
      <div
        class="circle"
        (click)="isAnswer4Correct()"
        [ngClass]="{ effect: isCheckAnswer4 }"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="check_small"
        ></mat-icon>
      </div>
    </div>
  </div>
</div>
