.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;

  .loading {
    width: 50%;
    height: 50%;
    background: transparent;
    border: none;
  }

}
