<mat-card appearance="outlined">
  <mat-card-content>
    <mat-list>
      <mat-list-item class="content">
        <div class="quiz-detail">
          <div class="quiz-detail__title">
            <span class="order">{{ index }}. Multiple Choice</span>
            <p class="question">{{ question.question }}</p>
          </div>
          <div class="quiz-detail__img">
            <img
              [src]="question.imgUrl"
              alt="">
          </div>
        </div>
      </mat-list-item>
      @if (showAnswer) {
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="answer-detail">
            <div class="answer-detail__content">
              <p class="answer">{{ question.option1 }}</p>
            </div>
            <mat-icon class="answer-icon__wrong">close</mat-icon>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="answer-detail">
            <div class="answer-detail__content">
              <p class="answer">{{ question.option2 }}</p>
            </div>
            <mat-icon class="answer-icon__wrong">close</mat-icon>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="answer-detail">
            <div class="answer-detail__content">
              <p class="answer">{{ question.option3 }}</p>
            </div>
            <mat-icon class="answer-icon__check">check</mat-icon>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="answer-detail">
            <div class="answer-detail__content">
              <p class="answer">{{ question.option4 }}</p>
            </div>
            <mat-icon class="answer-icon__wrong">close</mat-icon>
          </div>
        </mat-list-item>
      }
    </mat-list>
  </mat-card-content>
</mat-card>

