<mat-card appearance="outlined">
  <mat-card-content>
    <mat-list>
      <mat-list-item class="content">
        <div class="quiz-detail">
          <div class="quiz-detail__title">
            <span class="order">1. Multiple Choice</span>
            <p class="question">First stop! Russell finds a beautiful flower. Which feeling might Russell feel?</p>
          </div>
          <div class="quiz-detail__img">
            <img
              src="https://images-cdn.kahoot.it/6920163d-ce8f-43cc-97c2-8427dcf0a9b9?auto=webp&width=1000&crop=893,595,x20,y0"
              alt="">
          </div>
        </div>
      </mat-list-item>
      @if (showAnswer) {
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="answer-detail">
            <div class="answer-detail__content">
              <p class="answer">Happy</p>
            </div>
            <mat-icon class="answer-icon__wrong">close</mat-icon>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="answer-detail">
            <div class="answer-detail__content">
              <p class="answer">Sad</p>
            </div>
            <mat-icon class="answer-icon__wrong">close</mat-icon>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="answer-detail">
            <div class="answer-detail__content">
              <p class="answer">Excited</p>
            </div>
            <mat-icon class="answer-icon__check">check</mat-icon>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="answer-detail">
            <div class="answer-detail__content">
              <p class="answer">Mad</p>
            </div>
            <mat-icon class="answer-icon__wrong">close</mat-icon>
          </div>
        </mat-list-item>
      }
    </mat-list>
  </mat-card-content>
</mat-card>
