:host {
  --mdc-outlined-card-container-color: #ffffff;
}

.quiz-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    .question {
      white-space: pre-wrap;
      word-wrap: break-word;
      font-size: 16px;
      font-weight: 600;
    }

    .order {
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__img {
    width: 140px;
    height: fit-content;
    display: flex;

    img {
      width: 140px;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}

.mdc-list-item.mdc-list-item--with-one-line.content {
  height: auto;
}

.answer-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__content {
    font-size: 14px;
    font-weight: 500;
    width: 90%;
  }

  p {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: unset;
    width: 100%;
  }
}

.answer-icon__wrong {
  color: var(--md-sys-color-error);
}

.answer-icon__correct {
  color: var(--md-sys-color-primary-container);
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}

.mat-mdc-card-content:first-child {
  padding-top: 0;
}

.mat-mdc-card-content {
  padding: 0 4px;
}
