<h2 mat-dialog-title>This quiz can't be save</h2>
<mat-dialog-content
  >Please fill in all information fields.
  <div class="missing-content">
    <div class="question-number">3 Quiz</div>
    <div class="missing-fields">
      <div class="missing-field">Question missing</div>
      <div class="missing-field">2 answers missing</div>
    </div>
  </div>

  <div class="missing-content">
    <div class="question-number">3 Quiz</div>
    <div class="missing-fields">
      <div class="missing-field">Question missing</div>
      <div class="missing-field">2 answers missing</div>
    </div>
  </div>

  <div class="missing-content">
    <div class="question-number">3 Quiz</div>
    <div class="missing-fields">
      <div class="missing-field">Question missing</div>
      <div class="missing-field">2 answers missing</div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
