.missing-content {
  margin: 12px 0;
  background-color: #ddebe7;
  padding: 12px;
  border-radius: 8px;

  .question-number {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .missing-content {
    font-size: 12px;
  }
}
