.container {
  width: 100%;
  height: calc(100vh - 20px);
  padding: 10px;
  display: flex;
  position: relative;
}

.slide-bar {
  width: 190px;
  height: calc(100vh - 20px);
  border-radius: 12px;
  background-color: var(--md-sys-color-background);
  padding: 10px;
}

.main-content {
  width: calc(100% - 190px);
  margin-left: 10px;
  height: calc(100vh - 20px);


  .header {
    height: 60px;
    border-radius: 12px 12px 0 0;
    background-color: var(--md-sys-color-background);
    width: 100%;
  }

  .content {
    margin-top: 10px;
    height: calc(100vh - 90px);
  }
}

@media screen and (max-width: 1024px) {
  .slide-bar {
    width: 190px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .slide-bar.hidden {
    left: -200px;
  }

  .main-content {
    width: 100%;
    margin-left: 0;
  }

  .main-content.disabled {
    pointer-events: none;
    opacity: 0.5; /* Optional: to visually indicate that the content is disabled */
  }
}


