.container {
  width: 100%;
  height: calc(100vh - 20px);
  padding: 10px;
  display: flex;
}

.slide-bar {
  width: 190px;
  height: calc(100vh - 20px);
  border-radius: 12px;
  background-color: var(--md-sys-color-background);
  padding: 10px;
}

.main-content {
  width: calc(100% - 190px);
  margin-left: 10px;
  height: calc(100vh - 20px);


  .header {
    height: 60px;
    border-radius: 12px 12px 0 0;
    background-color: var(--md-sys-color-background);
    width: 100%;
  }

  .content {
    margin-top: 10px;
    height: calc(100vh - 90px);


  }
}


