#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
}

.result {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answers {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 10%;
  bottom: 0;
}

.answer.red {
  background-color: #D03542;
}

.answer.red mat-icon {
  rotate: -90deg;
  font-size: 30px;
}

.answer.blue {
  background-color: #3066C7;
}

.answer.blue mat-icon {
  rotate: 45deg;
  font-size: 18px;
}

.answer.yellow {
  background-color: #CFA035;
}

.answer.yellow mat-icon{
  font-size: 20px;
}

.answer.green {
  background-color: #468729;
}
.answer.green mat-icon{

  font-size: 20px;
}

mat-icon {
  color: var(--md-sys-color-surface-container-low);
}

#container .answers .answer {
  display: flex;
  align-items: center;
  width: 46%;
  height: 40%;
  border-radius: 4px;
}
