#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
}

.result {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;
  padding-bottom: 30px;
}

.result .answer {
  width: 130px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 4px 4px;
}

.result .answer::before {
  display: flex;
  align-items: center;
  justify-content: center;
}

.answers {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  height: 10%;
  bottom: 0;
}

#container .answers .answer {
  display: flex;
  align-items: center;
  width: 46%;
  height: 40%;
  border-radius: 4px;
}

.answer-text {
  color: var(--md-sys-color-on-primary);
}

mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--md-sys-color-surface-container-low);
  margin: 0 8px;
}

.answer.red {
  background-color: #D03542;
}

.answer.red mat-icon {
  rotate: -90deg;
  font-size: 30px;
}

.answer.blue {
  background-color: #3066C7;
}

.answer.blue mat-icon {
  rotate: 45deg;
  font-size: 18px;
}

.answer.yellow {
  background-color: #CFA035;
}

.answer.yellow mat-icon{
  font-size: 20px;
}

.answer.green {
  background-color: #468729;
}
.answer.green mat-icon{

  font-size: 20px;
}

.result .answer.red {
  background-color: #C40C0C;
}
.result .answer.blue {
  background-color: #050C9C;
}
.result .answer.yellow {
  background-color: #D49B54;
}
.result .answer.green {
  background-color: #00712D;
}
