#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10%;
  gap: 20px;
  padding: 0 20px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 50px;
  padding: 0 10px;
  border-radius: 4px;
  background-color: var(--md-sys-color-on-primary);
  flex-basis: 90%;
}

.result {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;
  padding-bottom: 30px;
}

.result .answer {
  width: 130px;
  height: 25px;
  display: flex;
  align-items: end;
  justify-content: center;
  border-radius: 0 0 4px 4px;
}

.result .answer::before {
  display: flex;
  align-items: center;
  justify-content: center;
}

.answers {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  height: 10%;
  bottom: 0;
}

#container .answers .answer {
  display: flex;
  align-items: center;
  width: 46%;
  height: 40%;
  border-radius: 4px;
  position: relative;
}

.answer-text {
  color: var(--md-sys-color-on-primary);
}

mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--md-sys-color-surface-container-low);
  margin: 0 8px;
}

.number-of-answers {
  font-size: 14px;
  font-weight: 600;
  color: var(--md-sys-color-surface-container-lowest);
}

//class làm mờ khi sai
.wrong-answer {
  filter: brightness(0.7);
}

.check {
  margin: 0 !important;
}

.right,
.wrong {
  position: absolute;
  right: 0;
  font-weight: 700;
  rotate: none !important;
  font-size: 20px !important;
}

.answer.red {
  background-color: #e21b3c;
  box-shadow: #7e0007 0 4px 0 0;
  height: 20px;
}

.answer.red .ans-icon {
  rotate: -90deg;
  font-size: 30px;
  padding-right: 4px;
}

.answer.blue {
  background-color: #1368ce;
  box-shadow: #1a32ab 0 4px 0 0;
}

.answer.blue .ans-icon {
  rotate: 45deg;
  font-size: 16px;
}

.answer.yellow {
  background-color: #ffa602;
  box-shadow: #96490c 0 4px 0 0;
}

.answer.yellow .ans-icon {
  font-size: 20px;
}

.answer.green {
  background-color: #26890c;
  box-shadow: #1b352e 0 4px 0 0;
}

.answer.green .ans-icon {
  font-size: 20px;
}

.result .answer.red {
  background-color: #c40c0c;
}

.result .answer.blue {
  background-color: #050c9c;
}

.result .answer.yellow {
  background-color: #d49b54;
}

.result .answer.green {
  background-color: #00712d;
}
