<div class="container">

  <div id="top">
    <div class="cate-top">
      <img src="../../../../assets/images/ellipse2.png" alt="Category Image">

      <div class="content-cate">
        <h6>Popular Quizzes</h6>
        <p> Math</p>
      </div>

    </div>
  </div>

  <div id="mid">

    <div id="left">
      <div class="quiz-content-cate">

        <div class="quiz-picture">
          <img src="../../../../assets/images/ellipse3.png" alt="Media Pic">
        </div>

        <div class="quiz-bot-cate">
          <div class="quiz-bot-cate-top">
            <h6 class="title"> QUIZ</h6>
            <p>Toán cao cấp cho bé lớp 1 </p>
          </div>
          <div class="quiz-user-cate">
            <img src="../../../../assets/images/ellipse4.png" alt="User Pic">
            <p>plays </p>
          </div>
        </div>

      </div>

    </div>

    <div id="right">
      <!-- Nội dung cho phần right -->
    </div>

  </div>

</div>
