<div class="container">
  <div class="header">
    <div class="header-content">
      <button class="btn-home" mat-flat-button (click)="homePage()">
        {{ dashboard }}
      </button>
    </div>
  </div>
  <div class="content">
    <img src="assets/images/logo/brainable-white.png" alt="Logo" class="logo" />
    <div class="pin-input">
      <div class="content-body">
        <input
          #pinInput
          type="text"
          placeholder="Enter a join code"
          [(ngModel)]="pin"
          (keydown)="onKey($event)"
          maxlength="6"
        />
        <button class="btn-join" mat-flat-button (click)="joinGame()">
          Join
        </button>
      </div>
      @if (isEmptyInput) {
        <div class="empty-input">
          <p class="text">Please enter a valid game pin!</p>
        </div>
      }
    </div>
  </div>
</div>
