<div class="container">
  <div class="header">
    <div class="header-content">
      <button class="btn-home" mat-flat-button (click)="homePage()">
        {{ dashboard }}
      </button>
    </div>
  </div>
  <div class="content">
    <img src="assets/images/logo/brainable.png" alt="Logo" class="logo"/>
    <div class="content-body">
      <input type="text" placeholder="Enter a join code" [(ngModel)]="pin"/>
      <button class="btn-join" mat-flat-button (click)="joinGame()">Join</button>
    </div>
  </div>
</div>
