.quiz-container {
width:50%;
  margin: 0 auto;
  font-family: Arial, sans-serif;

  .question-header {
    text-align: center;
    margin-bottom: 20px;

    h2 {
      font-size: 1.9rem;
      font-weight: 500;
      font-weight: bold;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: #777;
    }
  }

  .question-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .play-button {
      background-color: var(--md-sys-color-primary);
      color: var(--md-sys-color-on-primary);
      border: none;
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
}
  .answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: 200px; /* Adjust height as needed */

    .answer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border: 1px solid var(--border-color);
      border-radius: 5px;
      font-weight: bold;
      font-size: 1.2rem;
    }

    .answer:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2; /* Top-left */
    }

    .answer:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3; /* Top-right */
    }

    .answer:nth-child(3) {
      grid-area: 2 / 1 / 3 / 2; /* Bottom-left */
    }

    .answer:nth-child(4) {
      grid-area: 2 / 2 / 3 / 3; /* Bottom-right */
    }
  }

}

