<div class="quiz-container">
  <div class="question-header">
    <h2>Vòng quanh thế giới</h2>
    <p>By Vo Minh Tri</p>
  </div>
  <div class="question-controls">
    <button class="play-button">Play</button>
    <span>8 Question</span>

  </div>
  <div class="question-body">
    <p class="question-text">
      Quốc gia có mức tiêu thụ hải sản cao nhất. Đất nước này cũng có một thành phố có mật độ dân số cao nhất thế giới. Một đất nước nổi tiếng với truyện tranh manga và phim hoạt hình anime, một trong những tác phẩm nổi tiếng nhất là Bảy viên ngọc rồng.
    </p>
    <div class="answers">
      <div class="answer">Nhật Bản

      </div>
      <div class="answer">Đài Loan

      </div>
      <div class="answer">Việt Nam

      </div>
      <div class="answer">Trung Quốc

      </div>
    </div>
  </div>
</div>
