.quiz-detail {
  display: flex;

  &__info {
    margin-left: 10px;

    .question {
      white-space: pre-wrap;
      word-wrap: break-word;
      font-size: 18px;
      font-weight: 600;
    }

    .row-info {
      display: flex;
      align-items: center;
      gap: 15px;

      .num-questions {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .category {
        display: flex;
        align-items: center;
        gap: 5px;

        img {
          width: 24px;
          height: 24px;
          object-fit: cover;
        }
      }
    }

    .row-creator {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 10px;

      img {
        width: 24px;
        height: 24px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  &__img {
    width: 140px;
    height: auto;

    img {
      width: 140px;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }

  }
}
