<mat-dialog-content class="dialog-container">
  <div class="dialog-header">
    <h1>Settings</h1>
  </div>
  <div class="dialog-content">
    <mat-form-field>
      <mat-label>Time limit</mat-label>
      <mat-select
        (selectionChange)="onTimeLimitChange($event)"
        value="{{ this.question.timeLimit }}"
      >
        <mat-option value="5">5 seconds</mat-option>
        <mat-option value="10">10 seconds</mat-option>
        <mat-option value="15">15 seconds</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Points</mat-label>
      <mat-select
        value="{{ this.question.points }}"
        (selectionChange)="onPointsChange($event)"
      >
        <mat-option value="0">No points</mat-option>
        <mat-option value="1">Standard</mat-option>
        <mat-option value="2">Double points</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="dialog-footer">
    <button mat-stroked-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSave()">Done</button>
  </div>
</mat-dialog-content>
