:host {
  --mdc-filled-button-disabled-container-color: #006b58;
  --mdc-filled-button-disabled-label-text-color: #ffffff;
}

.btn-join {
  filter: brightness(0.8);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.join-info {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.game-link {
  width: 230px;
  height: 118px;
  background-color: var(--md-sys-color-background);
  display: flex;
  //align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  clip-path: polygon(
    calc(100% - 2.5vmin) 0px,
    100% 50%,
    calc(100% - 2.5vmin) 100%,
    0px 100%,
    0px 0px
  );
  margin: 0px -1vmin 0px 0px;
  border-radius: 4px 0 0 4px;
}

.game-pin {
  width: 308px;
  height: 118px;
  background-color: var(--md-sys-color-background);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 0 -1vmin;
  clip-path: polygon(0px 0%, 100% 0px, 100% 100%, 0px 100%, 2.5vmin 50%);
  padding: 0 10px;
  border-radius: 0 4px 4px 0;
}

.game-pin .title {
  font-weight: 700;
  margin-left: 8px;
}

.game-pin .pin {
  font-size: 50px;
  font-weight: 900;
  align-self: center;
  line-height: 50px;
}

qrcode {
  width: 118px;
  height: 118px;
  margin: 0 8px;
}

.hidden-small-qr {
  display: none !important;
}

.qr-code-container {
  width: 118px;
  height: 118px;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  position: relative;
}

.zoom-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.zoom-qr-code {
  position: absolute;
  z-index: 2;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  border-radius: 50%;
  color: white;
}

.zoom-container:hover {
  opacity: 1;
}

.buttons {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
}

.players-container {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  //text-overflow: ellipsis;
  //white-space: nowrap;

  .players {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    color: var(--md-sys-color-background);
    overflow: auto; /* Add a scrollbar when content overflows */
    max-height: 100%; /* Set a maximum height */

    &::-webkit-scrollbar {
      display: none; /* For Chrome, Safari and Opera */
    }
  }
}

.waiting {
  background-color: var(--md-sys-color-on-secondary-container);
  font-size: 32px;
  line-height: 32px;
  padding: 12px 18px;
  border-radius: 4px;
}

.footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--md-sys-color-background);
  padding: 0 16px;
  z-index: 9999;
}

.logo {
  width: 200px;
}

.footer .game-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.player,
.number-of-players,
.setting {
  background-color: var(--md-sys-color-on-secondary-container);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.player {
  animation:
    2s player-animation infinite,
    0.3s jump-in ease-in;
}

.join-info-respond {
  display: none;
  background-color: var(--md-sys-color-background);
  width: 100%;
  height: 100px;
  font-size: 3.5vmin;
}

.pin {
  font-weight: 700;
}

@keyframes player-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes jump-in {
  0% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  #container {
    justify-content: space-between;
  }

  .join-info {
    display: none;
  }

  .join-info-respond {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 150px;
  }

  .vertical-range {
    display: none;
  }
}
