<div id="container">
  <div class="join-info">
    <div class="game-link">
      <span>Join at:</span>
      <b>www.brainable.io.vn</b>
    </div>

    <div class="game-pin">
      <span class="title">Game PIN: </span>
      <span class="pin">684 450</span>
    </div>

    <div class="qr-code">
      QR Code
    </div>
  </div>

  <div class="buttons">
    <button mat-mini-fab aria-label="Example icon button with a menu icon">
      <mat-icon>lock_open</mat-icon>
    </button>
    <button class="btn-join" mat-flat-button>Start Game</button>
  </div>

  <div class="players">
    <div class="player">
      <div class="player-name">Player 1</div>
    </div>
    <div class="player">
      <div class="player-name">Player 2</div>
    </div>
    <div class="player">
      <div class="player-name">Player 3</div>
    </div>
    <div class="player">
      <div class="player-name">Player 4</div>
    </div>
  </div>

    <div class="footer">
      <div class="logo">
        Logo
      </div>

       <div class="game-info">
         <div class="number-of-players">
           <mat-icon>person</mat-icon>
           <span>4</span>
         </div>

         <div class="setting">
           <mat-icon>volume_up</mat-icon>
           <mat-icon>settings</mat-icon>
           <mat-icon>fullscreen</mat-icon>
         </div>
       </div>
    </div>
</div>
