  #container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .question-type {
    padding: 8px 28px;
  }

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 164px;
}

  #container .question-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 104px;
  }

  .question-content .icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 15%;
    height: 104px;
    color: var(--md-sys-color-outline);
  }

  .question-content .icons mat-icon {
    display: flex;
    align-items: center;
    font-size: 20px;
  }

  .question-overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 104px;
    border: var(--md-sys-color-outline) 1px solid;
    border-radius: 4px;
  }

  .question-overview .question-title {
    color: var(--md-sys-color-outline);
  }

  .timer-and-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50%;
  }

  .timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: var(--md-sys-color-outline-variant);
    border-radius: 50%;
    border: var(--md-sys-color-outline-variant) 1px solid;
    margin-left: 15px;
    margin-right: 25px;
  }

  .timer-and-img img {
    width: 60px;
  }

  .question-overview .answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-bottom: 6px;
  }

  .question-overview .answers .answer {
    display: flex;
    width: 46%;
    height: 35%;
    border: var(--md-sys-color-outline-variant) 1px solid;
    border-radius: 2px;
  }

  #container .btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 0;
  }

.add-question-icon {
  display: none;
}

.question-type-respond {
  display: none;
}

.example-viewport {
  width: 100%;
  height: 100%;
}

  @media screen and (max-width: 992px) {
    .question-type,
    .question-content .icons,
    .question-overview .answers,
    #container .btn .add-question-btn,
    .timer {
      display: none !important;
    }

    #container {
      flex-direction: row !important;
      justify-content: space-between !important;
      align-items: center;
      padding: 0 12px;
    }

    #container .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 95%;
    }

    #container .question-content {
      width: 120px !important;
      height: 65px !important;
      margin: unset !important;
    }

    .question-overview {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly !important;
      align-items: center;
      height: unset;
    }

    .question-type-respond {
      display: block !important;
      //width: fit-content;
      height: 100%;
      margin-right: 4px;
    }

    .timer-and-img {
      display: flex;
      justify-content: center;
    }

    .timer-and-img img {
      width: 35px !important;
    }

    #container .btn {
      width: 40px !important;
      height: 40px !important;
    }

    .add-question-icon {
      display: flex !important;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
    }
  }
