<div id="container">
  <span class="question-type">1 Quiz</span>
  <div class="question-content">
    <div class="icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="content_copy"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
    </div>
    <div class="question-overview">
      <span class="question-title">Question</span>
      <div class="timer-and-img">
        <div class="timer">
          20
        </div>
        <img src="assets/images/background-game.png" alt="">
      </div>

      <div class="answers">
        <div class="answer">
        </div>
        <div class="answer">
        </div>
        <div class="answer">
        </div>
        <div class="answer">
        </div>
      </div>
    </div>
  </div>
  <div class="btn">
    <button mat-flat-button class="add-question-btn">Add question</button>
    <button mat-flat-button class="add-slide-btn">Add slide</button>
  </div>
</div>
