#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.question-type {
  padding: 8px 28px;
}

#container .question-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  margin-bottom: 20px;
}

.question-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.question-content .icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 15%;
  height: 100%;
  color: var(--md-sys-color-outline);
}

.question-overview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
  border: var(--md-sys-color-outline) 1px solid;
  border-radius: 4px;
}

.question-overview .question-title {
  color: var(--md-sys-color-outline);
}

.timer-and-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50%;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: var(--md-sys-color-outline-variant);
  border-radius: 50%;
  border: var(--md-sys-color-outline-variant) 1px solid;
  margin-left: 15px;
  margin-right: 30px;
}

.timer-and-img img {
  width: 30%;
}

.question-overview .answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 20%;
  margin-bottom: 6px;
}

.question-overview .answers .answer {
  display: flex;
  width: 46%;
  height: 35%;
  border: var(--md-sys-color-outline-variant) 1px solid;
  border-radius: 2px;
}

#container .btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
}

#container .btn button {
  width: 60%;
}

#container .btn .add-slide-btn {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}
