<div class="container">
  <cdk-virtual-scroll-viewport itemSize="50" class="scroll">
    <div id="header">
      <h1>What will you teach today?</h1>
    </div>

    <div id="header-quiz">
      @for (category of listCategories; track $index) {
        <div class="quiz-menu">
          <img [src]="category.imgUrl" alt="menu Pic">
          <p>{{ category.name }}</p>
        </div>
      }


    </div>
    <div class="popular-quiz">
      <app-card-quiz></app-card-quiz>
      <app-card-quiz></app-card-quiz>
      <app-card-quiz></app-card-quiz>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

@if (!(isGettingCategories$ | async)) {
  <div class="loading-container">
    <app-loading></app-loading>
  </div>
}

