<div class="container">

  <div id="quiz-header">
    <h1>What will you teach today?</h1>
  </div>

  <div id="Header-quiz">

    <div class="quiz-menu">
      <img src="../assets/images/ellipse1.png" alt="menu Pic">
      <p>Ice breaker</p>
    </div>
    <div class="quiz-menu">
      <img src="../assets/images/ellipse2.png" alt="menu Pic">
      <p>Math</p>
    </div>
    <div class="quiz-menu">
      <img src="../assets/images/ellipse3.png" alt="menu Pic">
      <p>English</p>
    </div>
    <div class="quiz-menu">
      <img src="../assets/images/ellipse4.png" alt="menu Pic">
      <p>Social </p>
    </div>
    <div class="quiz-menu">
      <img src="../assets/images/ellipse5.png" alt="menu Pic">
      <p>Languages</p>
    </div>
    <div class="quiz-menu">
      <img src="../assets/images/ellipse6.png" alt="menu Pic">
      <p>Science</p>
    </div>
    <div class="quiz-menu">
      <img src="../assets/images/ellipse7.png" alt="menu Pic">
      <p>Computers</p>
    </div>
    <div class="quiz-menu">
      <img src="../assets/images/ellipse8.png" alt="menu Pic">
      <p>Chemistry</p>
    </div><div class="quiz-menu">
    <img src="../assets/images/ellipse9.png" alt="menu Pic">
    <p>Creative </p>
  </div>
    <div class="quiz-menu">
      <img src="../assets/images/ellipse10.png" alt="menu Pic">
      <p>Health & PE</p>
    </div>


</div>

  <div>
    <app-card-quiz></app-card-quiz>
    <app-card-quiz></app-card-quiz>
    <app-card-quiz></app-card-quiz>
  </div>




</div>
