.container {
  height: 500px;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btn-create {
  font-size: 16px;
  width: 30%;
  height: 45px;
}

//.btn-create-import {
//  font-size: 16px;
//  width: 30%;
//  height: 45px;
//  margin-top: 60px;
//  margin-bottom: 20px;
//}

.card-create {
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

//img {
//  width: 550px;
//  height: 221px;
//  border-top-left-radius: 13px;
//  border-top-right-radius: 13px;
//}
