<div class="container">
  <mat-card class="card-create" appearance="outlined">
    <div class="card-content">
      <h4>Create from sratch</h4>
      <p>From researching, by hand</p>
    </div>
    <button (click)="closeDialog()" class="btn-create" mat-flat-button>
      <mat-icon fontIcon="add"></mat-icon>
      Create
    </button>
  </mat-card>

  <mat-card class="card-create" appearance="outlined">
    <!--    <img mat-card-image src="assets/images/sheet.png" alt="sheet.png" />-->
    <div class="card-content">
      <h4>Create with import</h4>
      <p>Safe your time by using spreedsheet</p>
    </div>

    <div (click)="fileInput.click()">
      <input
        type="file"
        #fileInput
        (change)="handleFileInput($event)"
        style="display: none"
      />
      <button mat-flat-button>
        <mat-icon fontIcon="add"></mat-icon>
        Import sheet
      </button>
    </div>

    <div class="example-files">
      <div class="header">Example files</div>
      <div class="btns">
        <button mat-button color="blue" (click)="downloadFile($event, 'docx')">
          Word
        </button>
        <button mat-button color="blue" (click)="downloadFile($event, 'xlsx')">
          Excel
        </button>
        <button mat-button color="blue" (click)="downloadFile($event, 'csv')">
          <!--          <img src="https://cdn-icons-png.flaticon.com/256/8242/8242984.png" alt="">-->
          CSV
        </button>
      </div>
    </div>
  </mat-card>
</div>

<!--    <button-->
<!--      (click)="closeDialog()"-->
<!--      [routerLink]="['/creator']"-->
<!--      class="btn-create"-->
<!--      mat-flat-button-->
<!--    >-->
<!--      <mat-icon fontIcon="add"></mat-icon>-->
<!--      Import sheet-->
<!--    </button>-->
