.container {
  height: 500px;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

//.btn-create-import {
//  font-size: 16px;
//  width: 30%;
//  height: 45px;
//  margin-top: 60px;
//  margin-bottom: 20px;
//}

.card-create {
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.example-files {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 4px;
}

.example-files .header {
  margin-top: 20px;
  color: var(--md-sys-color-primary);
  font-weight: 600;
}

.btns {
  display: flex;
  gap: 8px;
}

img {
  width: 18px;
  height: 18px;
}
