<div id="Header-quiz">
  <div id="quiz-header">
    <h1>What will you teach today?</h1>
  </div>

  <div class="quiz-menu">
    <img src="../assets/images/ellipse1.png" alt="menu Pic">
    <p>Subject Name</p>
  </div>
</div>

<div id="quiz-name">
  <div id="quiz-title">
    <span class="quiz-title">⭐Subject here</span>
  </div>

  <div id="quiz-see-more">
    <button class="see-more-btn">
      See More<mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

</div>




<div id="quiz-content">
  <div class="quiz-top">
    <img src="../assets/images/media.png" alt="Media Pic">
  </div>

  <div class="quiz-bot">
    <h6 class="title"> Title that  be very long and needs to be truncated </h6>
    <div class="quiz-note">
      <p>123 question</p>
      <p>321 plays</p>
    </div>
  </div>
</div>
