<div id="Header-quiz">
  <div id="quiz-header">
    <h1>What will you teach today?</h1>
  </div>

  <div class="quiz-menu">
    <img src="../assets/images/ellipse1.png" alt="menu Pic">
    <p>Subject Name</p>
  </div>
</div>

<div id="quiz-name">
  <button mat-fab extended> Home
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>

<!-- Đặt phần tiêu đề quiz ở dưới phần see more -->
<div id="quiz-title">
  <span class="quiz-title">⭐Subject here</span>
</div>

<div id="quiz-content">
  <div class="quiz-top">
    <img src="../assets/images/media.png" alt="Media Pic">
  </div>

  <div class="quiz-bot">
    <h1 class="quiz-title">Title Here</h1>
    <div class="quiz-note">
      <p>123 question</p>
      <p>321 plays</p>
    </div>
  </div>
</div>
