.card-quiz {
  width: 100%;
  padding: 10px;
}

.scroll {
  width: 100%;
  height: 280px;

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

#quiz-name {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.quiz-title {
  font-size: 20px;
  font-weight: bold;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-top: 5px;

  p {
    margin: 0;
  }
}

.card-quiz-container {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
  height: fit-content;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: transparent transparent;
}

.card-quiz-card {
  padding-right: 30px;
  flex: 0 0 auto;
  width: 210px;
  border-radius: 12px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card-quiz-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.quiz-content {
  width: 210px;
  height: 265.9px;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid #4A4153;
  box-sizing: border-box;
}

.quiz-top {
  width: 100%;
  height: 50%;

  h5 {
    font-size: 20px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
  }
}

.quiz-bot {
  width: 100%;
  padding: 2px 10px;
}

.quiz-note {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 12px;
  padding-top: 25px;
}

.title {
  height: 50px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 1.5;
}


