:host {
  --mdc-outlined-card-container-color: #ffffff;

  &::ng-deep
  .cdk-virtual-scroll-orientation-vertical
  .cdk-virtual-scroll-content-wrapper {
    min-width: auto; // Override the min-width
    width: 100%; // Ensure full width
    box-sizing: border-box; // Include padding in width
  }
}

.container {
  width: 100%;
  height: 100%;

  .profile-container {
    width: 100%;
    height: 150px;
    transition: height 0.3s ease;
  }

  .library-container {
    width: 100%;
    height: calc(100% - 170px);
    display: flex;
    margin-top: 20px;
    transition: margin-top 0.3s ease;

    .empty-box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 300px;
        height: 300px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .library-scroll {
      width: 60%;
      height: 100%;
      overflow-y: auto;
      transition: width 0.3s ease;

      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }

      .quiz-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    .content-container {
      width: 40%;
      height: 100%;
      margin-left: 10px;
      transition: width 0.3s ease,
      margin-left 0.3s ease;

      .quiz-scroll {
        width: 100%;
        height: 405px;
        overflow-y: auto;
        transition: height 0.3s ease;

        &::-webkit-scrollbar {
          display: none; /* Safari and Chrome */
        }

        .quiz-content {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .profile-container {
      height: 110px;
    }

    .library-container {
      width: 100%;
      height: calc(100% - 110px);
      display: flex;
      flex-direction: column;
      transition: height 0.3s ease;

      .library-scroll {
        width: 100%;
        height: 48%;
        transition: height 0.3s ease;

        .quiz-list {
          width: 100%;
        }
      }

      .content-container {
        display: flex;
        width: 100%;
        height: 50%;
        margin-left: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: height 0.3s ease;

        .quiz-scroll {
          height: 100%;
        }
      }

      .straight-line {
        display: none;
      }
    }
  }
}

.quiz-detail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;

  .number-question {
    font-size: 16px;
    font-weight: 700;
    color: var(--md-sys-color-on-surface);
  }

  .btn-show {
    font-size: 16px;
    font-weight: 700;
    color: var(--md-sys-color-on-surface);
    cursor: pointer;
    text-decoration: underline;
  }
}

//@media screen and (max-width: 576px) {
//  .container {
//    .profile-container {
//      height: 160px;
//    }
//
//    .library-container {
//      width: 100%;
//      height: calc(100% - 160px);
//      display: flex;
//      flex-direction: column;
//      transition: height 0.3s ease;
//
//      .library-scroll {
//        width: 100%;
//        height: 48%;
//        transition: height 0.3s ease;
//
//        .quiz-list {
//          width: 100%;
//        }
//      }
//
//      .content-container {
//        display: flex;
//        width: 100%;
//        height: 50%;
//        margin-left: 0;
//        flex-direction: column;
//        justify-content: flex-start;
//        align-items: center;
//        transition: height 0.3s ease;
//
//        .quiz-scroll {
//          height: 100%;
//        }
//      }
//
//      .straight-line {
//        display: none;
//      }
//    }
//  }
//}
