:host {
  .dialog-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--md-sys-color-background);
    overflow: hidden;
    //box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }

  .dialog-content {
    flex: 1;
    max-width: 50%;
    max-height: 100vh;
    padding: 1% 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dialog-image {
    flex: 1;
    max-width: 50%;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .dialog-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: unset;
  }

  .dialog-title {
    font-size: xx-large;
    font-weight: bold;
    color: var(--md-sys-color-on-secondary-container);
    text-align: left;
    margin: 5% 0 7% 0;
  }

  .description-text {
    font-size: larger;
    color: var(--md-sys-color-on-surface);
    margin-bottom: 3%;
  }

  .google-login-btn {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    font-size: large;
    font-weight: 500;
    justify-items: center;
    display: inline-flex;
    flex-direction: row;
    margin: 5% 0;
    border-radius: 8px;
  }

  .material-symbols-outlined {
    display: inline-flex;
    vertical-align: middle;
    justify-content: flex-end;
  }

  .google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .google-login-text {
    font-size: large;
    font-weight: 500;
    vertical-align: middle;
    display: inline-flex;
    justify-content: flex-start;
  }

  #google-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding: 3% 0;
  }


  .google-login-btn:hover {
    background-color: var(--md-sys-color-surface-tint);
    color: var(--md-sys-color-on-primary);
  }

  .or-text {
    text-align: center;
    margin: 0;
    color: var(--md-sys-color-outline);
    position: relative;
    font-size: 14px;
    padding-bottom: 3%;
  }

  .or-text:before,
  .or-text:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: var(--md-sys-color-outline);
  }

  .or-text:before {
    left: 0;
  }

  .or-text:after {
    right: 0;
  }

  .guest-text {
    text-align: center;
    font-size: 14px;
    padding: 2%;
    color: var(--md-sys-color-on-background);
  }

  .guest-text .guest-link {
    color: var(--md-sys-color-primary-container);
    font-weight: bold;
    text-decoration: none;
  }

  .guest-text .guest-link:hover {
    text-decoration: underline;
    pointer-events: auto;
  }

  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }

  .cancel-button {
    font-size: 14px;
    color: var(--md-sys-color-secondary);
  }

  .cancel-button:hover {

    text-decoration: underline;
  }

  @media (max-width: 900px) {
    .dialog-container {
      flex-direction: column;
      padding: 5%;
    }
    .dialog-content {
      max-width: 100%;
    }
    .dialog-image {
      display: none;
    }
    .dialog-title {
      font-size: xx-large;
    }
    .description-text {
      font-size: medium;
    }
  }

  @media (max-width: 640px) {
    .dialog-container {
      flex-direction: column;
      padding: 5%;
    }
    .dialog-content {
      max-width: 100%;
    }
    .dialog-image {
      display: none;
    }
    .dialog-title {
      font-size: x-large;
    }
    .description-text {
      font-size: medium;
    }
  }

  @media (max-width: 420px) {
    .material-symbols-outlined {
      display: inline-flex;
      vertical-align: middle;
      justify-content: flex-end;
    }

    .google-logo:before {
      width: 14px;
      height: 14px;
      margin-right: 5px;
      vertical-align: middle;
    }

    .google-login-text {
      font-size: medium;
      font-weight: 400;
      vertical-align: middle;
      display: inline-flex;
      justify-content: flex-start;
    }
  }


}


