<div id="container">
  @if (isJoining) {
    <div class="waiting-content">
      <h2>You're in!</h2>
      <h5>See your nickname on screen?</h5>
    </div>
    <div class="footer">
      <span class="player-name">{{ nickname }}</span>
    </div>
  } @else {
    <div class="nickname-content">
      <img src="assets/images/logo/brainable-white.png" alt="logo" />
      <div class="nickname-container">
        <div class="enter-nickname">
          <input
            type="text"
            name=""
            id=""
            placeholder="Enter nickname..."
            [(ngModel)]="nickname"
            (keydown)="onKey($event)"
            maxlength="15"
          />
          <button class="btn-join" mat-flat-button (click)="joinGame()">
            Join
          </button>
        </div>
        @if (isEmptyInput) {
          <div class="empty-input">
            <p class="text">Please enter nickname!</p>
          </div>
        }
      </div>
    </div>
  }
</div>
