<div id="container" #containerRef>
  @if (isJoining) {
    <div class="waiting-content">
      <h2>You're in!</h2>
      <h5>See your nickname on screen?</h5>
    </div>
    <div class="footer">
      <span class="player-name">{{ nickname }}</span>
    </div>
  } @else {
    <div class="nickname-content">
      <img src="assets/images/logo/brainable-white.png" alt="logo" />
      <div class="nickname-container">
        <div class="enter-nickname">
          <textarea
            #nicknameInput
            type="text"
            name=""
            id=""
            placeholder="Enter nickname..."
            [(ngModel)]="nickname"
            (keydown)="onKey($event)"
            maxlength="15"
          ></textarea>
          <button class="btn-join" mat-flat-button (click)="joinGame()">
            Join
          </button>
        </div>



        @if (isEmptyInput) {
          <div class="empty-input">
            <p class="text">Please enter nickname!</p>
          </div>
        }
      </div>
    </div>
  }

  <div class="back-frem">
    <div class="back-chang"
         [class.selected]="selectedImageIndex === 0"
         (click)="backGroundChange('assets/images/2162.jpg', 0)">
      <img src="assets/images/2162.jpg" alt="Background 1">
    </div>
    <div class="back-chang"
         [class.selected]="selectedImageIndex === 1"
         (click)="backGroundChange('assets/images/theme_class.jpg', 1)">
      <img src="assets/images/theme_class.jpg" alt="Background 2">
    </div>
    <div class="back-chang"
         [class.selected]="selectedImageIndex === 2"
         (click)="backGroundChange('assets/images/theme_kinder.jpg', 2)">
      <img src="assets/images/theme_kinder.jpg" alt="Background 3">
    </div>
    <div class="back-chang"
         [class.selected]="selectedImageIndex === 3"
         (click)="backGroundChange('assets/images/z5714813450402_17d12c1680cfb5a3fede63bf191ee94c.jpg', 3)">
      <img src="assets/images/z5714813450402_17d12c1680cfb5a3fede63bf191ee94c.jpg" alt="Background 4">
    </div>
    <div class="back-chang"
         [class.selected]="selectedImageIndex === 4"
         (click)="backGroundChange('assets/images/class_theme.jpg', 4)">
      <img src="assets/images/class_theme.jpg" alt="Background 4">
    </div>
    <div class="back-chang"
         [class.selected]="selectedImageIndex === 5"
         (click)="backGroundChange('assets/images/theme_office_cartoon.jpg', 5)">
      <img src="assets/images/theme_office_cartoon.jpg" alt="Background 5">
    </div>
    <div class="back-chang"
         [class.selected]="selectedImageIndex === 6"
         (click)="backGroundChange('assets/images/theme_class_kinder.jpg', 6)">
      <img src="assets/images/theme_class_kinder.jpg" alt="Background 5">
    </div>
  </div>
</div>
