#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-image: url('../../../../../../assets/images/z5714813450402_17d12c1680cfb5a3fede63bf191ee94c.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--md-sys-color-on-primary);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.content h2,
.content h5{
  font-weight: 700;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--md-sys-color-surface-bright);
  padding: 0 30px;
}

.player-name {
  font-weight: 700;
  color: var(--md-sys-color-on-background);
}
