:host {
  --mdc-outlined-card-container-color: #FFFFFF;
}

#question-data {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 5px;
}

#question-options-left {
  width: 50%;
}

#question-statistics-right {
  width: 50%;
}

.question-title {
  font-size: 12px;
  font-weight: 500;
}

.option-title {
  font-size: 12px;
  font-weight: 500;
}

#question-format {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

#question-display {
  font-size: 16px;
  font-weight: 600;
}

.option-body {
  margin-top: 10px;
}


@media screen and (max-width: 768px) {
  #question-data {
    flex-direction: column;
  }

  #question-options-left {
    width: 100%;
  }

  #question-statistics-right {
    margin-top: 20px;
    width: 100%;
  }
}