<div id="container">
  <div class="header">
    <!--    <div class="question-number">1</div>-->
    <div class="logo-container">
      <img src="assets/images/logo/brainable-white.png" alt="" class="logo"/>
    </div>
  </div>

  <div class="content">
    <h2>Question</h2>
    <div class="circle">
      <span class="number">{{ activeNumber }}</span>
      <div class="half-circle"></div>
    </div>
  </div>

  <div class="footer">
    <span class="player-name">{{ playerName }}</span>
    <!--    <span class="score">{{ score }}</span>-->
  </div>
</div>
