:host {
  --mat-table-background-color: #ffffff;
  --mdc-filled-text-field-container-color: #ffffff;
  --mat-paginator-container-background-color: #ffffff;
}

.container {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 0 0 12px 12px;
  background-color: #ffffff;
}

.example-viewport {
  height: 100%;
  width: 100%;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.mat-mdc-row:hover {
  background-color: var(--mat-option-hover-state-layer-color);
  cursor: pointer;
}

.card-container {
  display: none;
}

@media screen and (max-width: 576px) {
  .example-viewport {
    display: none;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    //flex-wrap: wrap;
    justify-content: center;
  }

  .card-quiz-card {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    //border: 1px solid #4a4153;
    justify-content: space-between;
    box-sizing: border-box;
    //padding: 12px;
    line-height: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #f0f0f0;
    font-size: 12px;
    height: 100px;
  }

  .card-quiz-card h6 {
    font-size: 20px;
  }

  .card-quiz-card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
    border: 1px solid #4a4153;
  }

  .name {
    text-overflow: ellipsis; /* will make [...] at the end */
    width: 370px; /* change to your preferences */
    white-space: nowrap; /* paragraph to one line */
    overflow: hidden; /* older browsers */
  }
}

.num-more {
  display: flex;
  justify-content: space-between;
}

.more-icon {
  cursor: pointer;
}

.more-icon:hover {
  color: #4a4153;
}
