<div id="container">
  <div class="header">
    <div class="question-number">1</div>
    <div class="logo-container">
      <img src="assets/images/logo/brainable.png" alt="" class="logo" />
    </div>
  </div>


  <div class="answers">
    @for(answerForRender of this.answersForRender; track $index){
      <div (click)="chooseAnswer(answerForRender.id)" class="{{answerForRender.class}}">
        <mat-icon
          fontIcon="{{answerForRender.fontIcon}}"
        ></mat-icon>
      </div>
    }
  </div>

  <div class="footer">
    <span class="player-name">Player 1</span>
    <span class="score">923</span>
  </div>
</div>
