<div id="container">
  <div class="header">
    <div class="question-number">1</div>
    <div class="logo-container">
      <!--      <img src="assets/images/logo/brainable.png" alt="" class="logo" />-->
    </div>
  </div>

  <div class="answers">
    <div class="answer red">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="play_arrow"
      ></mat-icon>
    </div>
    <div class="answer blue">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="square"
      ></mat-icon>
    </div>
    <div class="answer yellow">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="circle"
      ></mat-icon>
    </div>
    <div class="answer green">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="square"
      ></mat-icon>
    </div>
  </div>

  <div class="footer">
    <span class="player-name">Player 1</span>
    <span class="score">923</span>
  </div>
</div>
