#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-image: url("../../../../../../assets/images/z5714813450402_17d12c1680cfb5a3fede63bf191ee94c.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.question-number {
  width: 35px;
  height: 35px;
  background-color: var(--md-sys-color-surface-container);
  color: #1a32ab;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  position: absolute;
  font-weight: 700;
  font-size: 16px;
}

.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  height: 28px;
}

.answers {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.answers .answer {
  display: flex;
  align-items: center;
  width: 48%;
  height: 46%;
  border-radius: 4px;
}

.answer mat-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--md-sys-color-surface-container-low);
}

.answer.red {
  background-color: #d03542;
}

.answer.red mat-icon::before {
  rotate: -90deg;
  font-size: 170px;
}

.answer.blue {
  background-color: #3066c7;
}

.answer.blue mat-icon::before {
  rotate: 45deg;
  font-size: 110px;
}

.answer.yellow {
  background-color: #cfa035;
}

.answer.yellow mat-icon::before {
  font-size: 120px;
}

.answer.green {
  background-color: #468729;
}

.answer.green mat-icon::before {
  font-size: 120px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--md-sys-color-surface-bright);
  padding: 0 30px;
}

.player-name {
  font-weight: 700;
  color: var(--md-sys-color-on-background);
}

.score {
  font-size: 16px;
  font-weight: 700;
  background-color: var(--md-sys-color-on-background);
  color: var(--md-sys-color-background);
  padding: 6px 10px;
  border-radius: 4px;
}

@media screen and (max-width: 576px) {
  .answers .answer {
    width: 48%;
    height: 48%;
  }

  .answer.red mat-icon::before {
    font-size: 150px;
  }

  .answer.blue mat-icon::before {
    font-size: 90px;
  }

  .answer.yellow mat-icon::before {
    font-size: 100px;
  }

  .answer.green mat-icon::before {
    font-size: 100px;
  }
}
