@use '@angular/material' as mat;
@use "sass:map";

@include mat.core();

$_palettes: (
  primary: (
    0: #000000,
    10: #002019,
    20: #00382C,
    25: #004437,
    30: #005141,
    35: #005E4C,
    40: #006B58,
    50: #00876F,
    60: #00A487,
    70: #24C0A0,
    80: #4EDDBB,
    90: #97F4D9,
    95: #B8FFE9,
    98: #E6FFF5,
    99: #F3FFF9,
    100: #FFFFFF
  ),
  secondary: (
    0: #000000,
    10: #052019,
    20: #1B352E,
    25: #264039,
    30: #324C44,
    35: #3D584F,
    40: #49645B,
    50: #617D73,
    60: #7B978D,
    70: #95B1A7,
    80: #B0CDC2,
    90: #CBE9DE,
    95: #DAF7EC,
    98: #E6FFF5,
    99: #F3FFF9,
    100: #FFFFFF
  ),
  tertiary: (
    0: #000000,
    10: #001E2D,
    20: #083448,
    25: #183F54,
    30: #254B60,
    35: #32576C,
    40: #3E6379,
    50: #577B93,
    60: #7195AD,
    70: #8BB0C9,
    80: #A6CBE5,
    90: #C5E7FF,
    95: #E4F3FF,
    98: #F5FAFF,
    99: #FBFCFF,
    100: #FFFFFF
  ),
  neutral: (
    0: #000000,
    10: #191C1B,
    20: #2E312F,
    25: #393C3A,
    30: #444846,
    35: #505351,
    40: #5C5F5D,
    50: #747876,
    60: #8E918F,
    70: #A9ACA9,
    80: #C4C7C4,
    90: #E1E3E0,
    95: #EFF1EE,
    98: #F8FAF7,
    99: #FBFDFA,
    100: #FFFFFF
  ),
  neutral-variant: (
    0: #000000,
    10: #141D1A,
    20: #29322F,
    25: #343D3A,
    30: #3F4945,
    35: #4B5551,
    40: #57605D,
    50: #6F7975,
    60: #89938E,
    70: #A3ADA9,
    80: #BFC9C4,
    90: #DBE5E0,
    95: #E9F3EE,
    98: #F2FCF6,
    99: #F5FFF9,
    100: #FFFFFF
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_primary,
    tertiary: $_tertiary,
  ),
  typography: (
    brand-family: "Open Sans",
    plain-family: "Open Sans",
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($light-theme);
  --md-sys-color-primary: rgb(0 107 88);
  --md-sys-color-surface-tint: rgb(0 107 88);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(49 200 167);
  --md-sys-color-on-primary-container: rgb(0 45 35);
  --md-sys-color-secondary: rgb(56 103 90);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(188 239 222);
  --md-sys-color-on-secondary-container: rgb(33 81 69);
  --md-sys-color-tertiary: rgb(101 79 172);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(185 164 255);
  --md-sys-color-on-tertiary-container: rgb(43 11 112);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(244 251 247);
  --md-sys-color-on-background: rgb(22 29 27);
  --md-sys-color-surface: rgb(91, 166, 129);
  --md-sys-color-on-surface: rgb(22 29 27);
  --md-sys-color-surface-variant: rgb(215 230 223);
  --md-sys-color-on-surface-variant: rgb(60 74 69);
  --md-sys-color-outline: rgb(108 122 117);
  --md-sys-color-outline-variant: rgb(187 202 195);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 50 47);
  --md-sys-color-inverse-on-surface: rgb(235 242 238);
  --md-sys-color-inverse-primary: rgb(78 221 187);
  --md-sys-color-primary-fixed: rgb(111 249 214);
  --md-sys-color-on-primary-fixed: rgb(0 32 25);
  --md-sys-color-primary-fixed-dim: rgb(78 221 187);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 65);
  --md-sys-color-secondary-fixed: rgb(187 237 220);
  --md-sys-color-on-secondary-fixed: rgb(0 32 25);
  --md-sys-color-secondary-fixed-dim: rgb(159 209 192);
  --md-sys-color-on-secondary-fixed-variant: rgb(30 79 66);
  --md-sys-color-tertiary-fixed: rgb(232 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(32 0 95);
  --md-sys-color-tertiary-fixed-dim: rgb(205 189 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(77 54 146);
  --md-sys-color-surface-dim: rgb(213 220 215);
  --md-sys-color-surface-bright: rgb(244 251 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(238 245 241);
  --md-sys-color-surface-container: rgb(233 239 235);
  --md-sys-color-surface-container-high: rgb(227 234 229);
  --md-sys-color-surface-container-highest: rgb(221 228 224);
}

@include mat.color-variants-backwards-compatibility($light-theme);
@include mat.typography-hierarchy($light-theme);

html,
body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.cdk-overlay-pane {
  background: var(--mat-app-background-color);
}


.custom-dialog-container {
  border-radius: 28px;
}

