@use '@angular/material' as mat;
@use "sass:map";

@include mat.core();

$_palettes: (
  primary: (
    0: #000000,
    10: #321300,
    20: #4D260B,
    25: #5A3115,
    30: #683C1F,
    35: #764729,
    40: #835334,
    50: #A06B4A,
    60: #BD8462,
    70: #DB9E7A,
    80: #F9B893,
    90: #FFDBC8,
    95: #FFEDE5,
    98: #FFF8F5,
    99: #FFFBFF,
    100: #FFFFFF
  ),
  secondary: (
    0: #000000,
    10: #251911,
    20: #3C2D25,
    25: #48382F,
    30: #54433A,
    35: #604F45,
    40: #6D5B51,
    50: #877369,
    60: #A18D82,
    70: #BDA79B,
    80: #D9C2B6,
    90: #F6DED1,
    95: #FFEDE5,
    98: #FFF8F5,
    99: #FFFBFF,
    100: #FFFFFF
  ),
  tertiary: (
    0: #000000,
    10: #1D1C08,
    20: #32311B,
    25: #3D3C26,
    30: #494830,
    35: #55543B,
    40: #616046,
    50: #7A785D,
    60: #949276,
    70: #AFAC8F,
    80: #CBC8A9,
    90: #E7E4C4,
    95: #F5F2D1,
    98: #FEFBD9,
    99: #FFFBFF,
    100: #FFFFFF
  ),
  neutral: (
    0: #000000,
    10: #1E1B19,
    20: #342F2E,
    25: #3F3A38,
    30: #4B4644,
    35: #56514F,
    40: #635D5B,
    50: #7C7673,
    60: #968F8D,
    70: #B1AAA7,
    80: #CDC5C2,
    90: #E9E1DD,
    95: #F8EFEB,
    98: #FFF8F5,
    99: #FFFBFF,
    100: #FFFFFF
  ),
  neutral-variant: (
    0: #000000,
    10: #211A17,
    20: #372F2B,
    25: #423A35,
    30: #4E4541,
    35: #5A514C,
    40: #665C58,
    50: #7F7570,
    60: #9A8E89,
    70: #B5A9A3,
    80: #D1C4BE,
    90: #EEE0D9,
    95: #FCEEE7,
    98: #FFF8F5,
    99: #FFFBFF,
    100: #FFFFFF
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_primary,
    tertiary: $_tertiary,
  ),
  typography: (
    brand-family: "Open Sans",
    plain-family: "Open Sans",
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($light-theme);
  --md-sys-color-primary: rgb(131 83 52);
  --md-sys-color-surface-tint: rgb(131 83 52);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 199 167);
  --md-sys-color-on-primary-container: rgb(94 52 24);
  --md-sys-color-secondary: rgb(115 89 74);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 224 208);
  --md-sys-color-on-secondary-container: rgb(93 69 55);
  --md-sys-color-tertiary: rgb(98 97 43);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(217 214 148);
  --md-sys-color-on-tertiary-container: rgb(65 64 13);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(255 248 245);
  --md-sys-color-on-background: rgb(32 26 24);
  --md-sys-color-surface: rgb(255 248 245);
  --md-sys-color-on-surface: rgb(32 26 24);
  --md-sys-color-surface-variant: rgb(243 222 212);
  --md-sys-color-on-surface-variant: rgb(81 68 61);
  --md-sys-color-outline: rgb(132 116 108);
  --md-sys-color-outline-variant: rgb(214 195 185);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(53 47 44);
  --md-sys-color-inverse-on-surface: rgb(250 238 234);
  --md-sys-color-inverse-primary: rgb(249 184 147);
  --md-sys-color-primary-fixed: rgb(255 219 200);
  --md-sys-color-on-primary-fixed: rgb(50 19 0);
  --md-sys-color-primary-fixed-dim: rgb(249 184 147);
  --md-sys-color-on-primary-fixed-variant: rgb(104 60 31);
  --md-sys-color-secondary-fixed: rgb(255 219 200);
  --md-sys-color-on-secondary-fixed: rgb(41 23 12);
  --md-sys-color-secondary-fixed-dim: rgb(226 192 173);
  --md-sys-color-on-secondary-fixed-variant: rgb(89 66 52);
  --md-sys-color-tertiary-fixed: rgb(233 230 163);
  --md-sys-color-on-tertiary-fixed: rgb(29 29 0);
  --md-sys-color-tertiary-fixed-dim: rgb(204 201 137);
  --md-sys-color-on-tertiary-fixed-variant: rgb(74 73 21);
  --md-sys-color-surface-dim: rgb(227 216 211);
  --md-sys-color-surface-bright: rgb(255 248 245);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(253 241 236);
  --md-sys-color-surface-container: rgb(247 236 231);
  --md-sys-color-surface-container-high: rgb(241 230 225);
  --md-sys-color-surface-container-highest: rgb(235 224 219);
}

@include mat.color-variants-backwards-compatibility($light-theme);
@include mat.typography-hierarchy($light-theme);

html,
body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.cdk-overlay-pane {
  background: var(--mat-app-background-color);
}


