@use '@angular/material' as mat;
@use "sass:map";

@include mat.core();

$_palettes: (
  primary: (
    0: #000000,
    10: #2B0052,
    20: #47077E,
    25: #531B89,
    30: #5F2A96,
    35: #6B37A2,
    40: #7844AF,
    50: #925ECB,
    60: #AD78E7,
    70: #C894FF,
    80: #DCB8FF,
    90: #EFDBFF,
    95: #F9ECFF,
    98: #FFF7FF,
    99: #FFFBFF,
    100: #FFFFFF
  ),
  secondary: (
    0: #000000,
    10: #22172D,
    20: #372B43,
    25: #43364F,
    30: #4E425B,
    35: #5A4D67,
    40: #675973,
    50: #80718D,
    60: #9A8BA7,
    70: #B6A5C3,
    80: #D1C0DF,
    90: #EEDCFC,
    95: #F9ECFF,
    98: #FFF7FF,
    99: #FFFBFF,
    100: #FFFFFF
  ),
  tertiary: (
    0: #000000,
    10: #1D1A25,
    20: #322F3A,
    25: #3D3A46,
    30: #494551,
    35: #54505D,
    40: #615C6A,
    50: #7A7583,
    60: #948E9D,
    70: #AEA9B8,
    80: #CAC4D3,
    90: #E7E0F0,
    95: #F5EEFE,
    98: #FDF7FF,
    99: #FFFBFF,
    100: #FFFFFF
  ),
  neutral: (
    0: #000000,
    10: #1D1B1E,
    20: #322F33,
    25: #3D3A3E,
    30: #49464A,
    35: #555155,
    40: #615D61,
    50: #7A767A,
    60: #948F94,
    70: #AFAAAE,
    80: #CBC5C9,
    90: #E7E1E5,
    95: #F5EFF4,
    98: #FEF7FC,
    99: #FFFBFF,
    100: #FFFFFF
  ),
  neutral-variant: (
    0: #000000,
    10: #1E1A22,
    20: #332F37,
    25: #3F3A42,
    30: #4A454E,
    35: #565059,
    40: #625C66,
    50: #7B757E,
    60: #958E98,
    70: #B0A9B3,
    80: #CCC4CF,
    90: #E9E0EB,
    95: #F7EEF9,
    98: #FFF7FF,
    99: #FFFBFF,
    100: #FFFFFF
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_primary,
    tertiary: $_tertiary,
  ),
  typography: (
    brand-family: "Open Sans,sans-serif",
    plain-family: "Open Sans,sans-serif",
  ),
  density: (
    scale: 0,
  )
));


$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $_primary,
    tertiary: $_tertiary,
  ),
  typography: (
    brand-family: "Open Sans,sans-serif",
    plain-family: "Open Sans,sans-serif",
  ),
  density: (
    scale: 0,
  )
));

body.light-theme {
  @include mat.all-component-themes($light-theme);
}

body.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

.light-theme {
  --md-sys-color-primary: rgb(98 45 152);
  --md-sys-color-surface-tint: rgb(120 68 175);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(136 84 192);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(107 85 128);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(235 211 255);
  --md-sys-color-on-secondary-container: rgb(79 59 100);
  --md-sys-color-tertiary: rgb(97 92 106);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(240 233 249);
  --md-sys-color-on-tertiary-container: rgb(79 75 88);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(255 247 255);
  --md-sys-color-on-background: rgb(30 26 33);
  --md-sys-color-surface: rgb(255 247 255);
  --md-sys-color-on-surface: rgb(30 26 33);
  --md-sys-color-surface-variant: rgb(234 223 239);
  --md-sys-color-on-surface-variant: rgb(75 68 81);
  --md-sys-color-outline: rgb(125 116 130);
  --md-sys-color-outline-variant: rgb(206 195 211);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(51 47 54);
  --md-sys-color-inverse-on-surface: rgb(247 238 248);
  --md-sys-color-inverse-primary: rgb(220 184 255);
  --md-sys-color-primary-fixed: rgb(239 219 255);
  --md-sys-color-on-primary-fixed: rgb(43 0 82);
  --md-sys-color-primary-fixed-dim: rgb(220 184 255);
  --md-sys-color-on-primary-fixed-variant: rgb(95 42 150);
  --md-sys-color-secondary-fixed: rgb(239 219 255);
  --md-sys-color-on-secondary-fixed: rgb(37 18 57);
  --md-sys-color-secondary-fixed-dim: rgb(214 188 238);
  --md-sys-color-on-secondary-fixed-variant: rgb(82 62 103);
  --md-sys-color-tertiary-fixed: rgb(231 224 240);
  --md-sys-color-on-tertiary-fixed: rgb(29 26 37);
  --md-sys-color-tertiary-fixed-dim: rgb(202 196 211);
  --md-sys-color-on-tertiary-fixed-variant: rgb(73 69 81);
  --md-sys-color-surface-dim: rgb(224 215 225);
  --md-sys-color-surface-bright: rgb(255 247 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(250, 241, 251);
  --md-sys-color-surface-container: rgb(244 235 245);
  --md-sys-color-surface-container-high: rgb(238 229 239);
  --md-sys-color-surface-container-highest: rgb(232 224 234);
}

.dark-theme {
  --md-sys-color-primary: rgb(220 184 255);
  --md-sys-color-surface-tint: rgb(220 184 255);
  --md-sys-color-on-primary: rgb(71 7 126);
  --md-sys-color-primary-container: rgb(127 75 182);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(214 188 238);
  --md-sys-color-on-secondary: rgb(59 40 79);
  --md-sys-color-secondary-container: rgb(75 55 96);
  --md-sys-color-on-secondary-container: rgb(229 202 253);
  --md-sys-color-tertiary: rgb(255 255 255);
  --md-sys-color-on-tertiary: rgb(50 47 58);
  --md-sys-color-tertiary-container: rgb(216 210 225);
  --md-sys-color-on-tertiary-container: rgb(65 61 74);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(22 18 25);
  --md-sys-color-on-background: rgb(232 224 234);
  --md-sys-color-surface: rgb(22 18 25);
  --md-sys-color-on-surface: rgb(232 224 234);
  --md-sys-color-surface-variant: rgb(75 68 81);
  --md-sys-color-on-surface-variant: rgb(206 195 211);
  --md-sys-color-outline: rgb(151 141 156);
  --md-sys-color-outline-variant: rgb(75 68 81);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(232 224 234);
  --md-sys-color-inverse-on-surface: rgb(51 47 54);
  --md-sys-color-inverse-primary: rgb(120 68 175);
  --md-sys-color-primary-fixed: rgb(239 219 255);
  --md-sys-color-on-primary-fixed: rgb(43 0 82);
  --md-sys-color-primary-fixed-dim: rgb(220 184 255);
  --md-sys-color-on-primary-fixed-variant: rgb(95 42 150);
  --md-sys-color-secondary-fixed: rgb(239 219 255);
  --md-sys-color-on-secondary-fixed: rgb(37 18 57);
  --md-sys-color-secondary-fixed-dim: rgb(214 188 238);
  --md-sys-color-on-secondary-fixed-variant: rgb(82 62 103);
  --md-sys-color-tertiary-fixed: rgb(231 224 240);
  --md-sys-color-on-tertiary-fixed: rgb(29 26 37);
  --md-sys-color-tertiary-fixed-dim: rgb(202 196 211);
  --md-sys-color-on-tertiary-fixed-variant: rgb(73 69 81);
  --md-sys-color-surface-dim: rgb(22 18 25);
  --md-sys-color-surface-bright: rgb(60 55 63);
  --md-sys-color-surface-container-lowest: rgb(16 13 19);
  --md-sys-color-surface-container-low: rgb(30 26 33);
  --md-sys-color-surface-container: rgb(34 30 37);
  --md-sys-color-surface-container-high: rgb(45 40 48);
  --md-sys-color-surface-container-highest: rgb(56 51 59);
}

html,
body {
  height: 100%;
  width: 100%;
  // overflow: hidden;
  // overflow: auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
