<div id="container">
  <div class="header">
    <div class="question">{{ questions[currentQuestion].question }}</div>
    <button mat-flat-button>Skip</button>
  </div>

  <div class="timer">
    <div class="time">{{ activeNumber }}</div>
    <div class="number-of-answers">
      <div class="number">0</div>
      <div class="text">Answers</div>
    </div>
  </div>

  <div class="answers">
    <div class="answer red">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="play_arrow"></mat-icon>
      <div class="answer-text">{{ questions[currentQuestion].option1 }}</div>
    </div>
    <div class="answer blue">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="square"></mat-icon>
      <div class="answer-text">{{ questions[currentQuestion].option2 }}</div>
    </div>
    <div class="answer yellow">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="circle"></mat-icon>
      <div class="answer-text">{{ questions[currentQuestion].option3 }}</div>
    </div>
    <div class="answer green">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="square"></mat-icon>
      <div class="answer-text">{{ questions[currentQuestion].option4 }}</div>
    </div>
  </div>
</div>
