#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  gap: 20px;
  padding: 0 20px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 50px;
  padding: 0 10px;
  border-radius: 4px;
  background-color: var(--md-sys-color-on-primary);
  flex-basis: 90%;
  font-size: 24px;
}

.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 20px;
}

.time {
  width: 50px;
  height: 50px;
  background-color: var(--md-sys-color-on-primary-fixed);
  color: var(--md-sys-color-surface-container-low);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.number-of-answers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.number-of-answers .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--md-sys-color-on-primary-fixed);
  color: var(--md-sys-color-surface-container-low);
  border-radius: 50%;
  font-size: 24px;
  font-weight: 600;
}

.number-of-answers .text {
  color: var(--md-sys-color-surface-container-low);
  background-color: var(--md-sys-color-on-primary-fixed);
  border-radius: 4px;
  padding: 0 5px;
}

#container .answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 35%;
}

#container .answers .answer {
  display: flex;
  align-items: center;
  width: 46%;
  height: 40%;
  border-radius: 4px;
}

.answer-text {
  color: var(--md-sys-color-surface-container-low);
}

#container .answer mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--md-sys-color-surface-container-low);
  margin: 0 10px;
}

.answer.red {
  background-color: #d03542;
}

.answer.red mat-icon {
  rotate: -90deg;
  font-size: 30px;
}

.answer.blue {
  background-color: #3066c7;
}

.answer.blue mat-icon {
  rotate: 45deg;
  font-size: 18px;
}

.answer.yellow {
  background-color: #cfa035;
}

.answer.yellow mat-icon {
  font-size: 20px;
}

.answer.green {
  background-color: #468729;
}

.answer.green mat-icon {
  font-size: 20px;
}
