:host {
  display: flex;

  .cdk-overlay-pane {
    background: unset;
  }
}

.example-pizza-party {
  color: var(--md-sys-color-primary-container);
}

button {
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
  color: var(--md-sys-color-surface-container);
}
