@if (!(isGetQuizByIdSuccessful$ | async) && !isCreateNewQuiz) {
  <div class="loading-container">
    <app-loading></app-loading>
  </div>
}
<div id="container">
  <div id="header">
    <app-header [title]="quiz.title"></app-header>
  </div>

  <div id="body-content">
    <div id="question-list">
      <div class="content-container">
        @if (quiz.questions) {
          @for (question of quiz.questions; track $index) {
            <div class="content" [ngClass]="{'active': $index==currentQuestionIndex}"
                 (click)="activeQuestion($index)">
              <span class="question-type">{{ $index + 1 }} Quiz</span>
              <span class="question-type-respond">1</span>

              <div class="question-content">
                <div class="icons">
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="content_copy"></mat-icon>
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"
                            (click)="deleteQuestion($index)"></mat-icon>
                </div>
                <div class="question-overview" [ngClass]="{'active': $index==currentQuestionIndex}">
                  <span class="question-title">Question</span>
                  <div class="timer-and-img">
                    <div class="timer">
                      20
                    </div>
                    <!--                    <img src="assets/images/background-game.png" alt="">-->
                  </div>

                  <div class="answers">
                    <div class="answer">
                    </div>
                    <div class="answer">
                    </div>
                    <div class="answer">
                    </div>
                    <div class="answer">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        }

      </div>
      <div class="btn" (click)="addQuestion()">
        <button mat-flat-button class="add-question-btn">Add question</button>
        <button class="add-question-icon" mat-mini-fab aria-label="Example icon button with a menu icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="question">
      @if ((isGetQuizByIdSuccessful$ | async) || isCreateNewQuiz) {
        <app-main-content [question]="deepClone(quiz.questions[currentQuestionIndex])" [index]="currentQuestionIndex"
        ></app-main-content>
        <app-setting [question]="deepClone(quiz.questions[currentQuestionIndex])"
                     [index]="currentQuestionIndex"></app-setting>
      }
    </div>
  </div>
</div>


