<div id="container">
  <mat-toolbar class="header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <span>Bài quiz không có tiêu đề</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>play_arrow</mat-icon>
    </button>
      <button mat-fab extended class="save-btn">
        <mat-icon>save</mat-icon>
        Xuất bản
      </button>
  </mat-toolbar>

  <div class="content">
    <div class="question-list">
      <span class="question-type">1 Quiz</span>
      <div class="question-content">
        <div class="icon">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="content_copy"></mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
        </div>
        <div class="question-overview">
          <span class="question-title">Question</span>
          <div class="timer-and-img">
            <div class="timer">
              20
            </div>
              <img src="assets/images/background-game.png" alt="">
          </div>

            <div class="answers">
              <div class="answer">
              </div>
              <div class="answer">
              </div>
              <div class="answer">
              </div>
              <div class="answer">
              </div>
            </div>
        </div>
      </div>
      <div class="btn">
        <button mat-flat-button>Add question</button>
        <button mat-flat-button>Add slide</button>
      </div>
    </div>

    <div class="main-content">
        <mat-form-field class="example-full-width question">
          <input class="question-input" matInput placeholder="Question">
        </mat-form-field>

      <div class="answers">
        <div class="answer"></div>
        <div class="answer"></div>
        <div class="answer"></div>
        <div class="answer"></div>
      </div>
    </div>

    <div class="setting">
      <div>
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="footer">
        <button mat-button>Delete</button>
        <button mat-stroked-button>Duplicate</button>
      </div>
    </div>
  </div>
</div>
